@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
* {
  display: flex;
  flex-direction: column;
}
title {
  display: none;
}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #FAF0E6;
  color: #292929
}
p {
  color: #474747;
  margin: 2% auto 2% auto;
  line-height: 185%;
  text-indent: 4%;
  font-size: 1.1rem;
}

a {
  display: inline;
}
.contains-link {
  display: inline;
}
header {
  background-color: #fff;
  max-width: 1000px;
  width: 50%;
  padding: 1% 2%;
  margin: -1% auto -.2% auto;
  border-radius: 8px;
}
/*.width*/
#title {
  margin: /*2% 0 0 2%;*/;
  text-align: center;
  font-size: 2.5rem;
}
#sub-title {
  margin: -2.5% 0 1% 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
}
#img-div {
  background-color: #fff;
  max-width: 1000px;
  width: 50%;
  padding: 0 2% 3% 2%;
  margin: 1% auto 0 auto;
  border-radius: 8px;
}
/*.width*/
#image {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 3% auto;
  border-radius: 8px;
}
#life-summary {
  background-color: #fff;
  max-width: 1000px;
  width: 50%;
  padding: 0.5% 2% 2% 2%;
  margin: 1% auto 0 auto;
  border-radius: 8px;
}
/*.width*/
#parables-of-Jesus {
  background-color: #fff;
  max-width: 1000px;
  width: 50%;
  padding: 0.5% 2% 2% 2%;
  margin: 1% auto 0 auto;
  border-radius: 8px;
}
/*.width*/
#tribute-info {
  background-color: #fff;
  max-width: 1000px;
  width: 50%;
  padding: 2%;
  margin: 1% auto;
  border-radius: 8px;
}
/*.width*/
.attribution {
  text-align: right;
  padding: 0 14% 0 0;
  margin: 2% 0 0 -3%;
}
blockquote {
  width: 70%; 
  margin: 2% auto;
  color: #474747;
  line-height: 185%;
  text-indent: 4%;
  font-size: 1rem;
}
.correct-width {
  width: 100%;
  margin: 3% 0 -3% 0;
}
iframe {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
#tribute-info {
  display: inline;
}
#bible {
  text-align: center;
}
@media (max-width: 420px) {
  .width {
    width: 85%;
    max-width: 85%;
  }
}
  
